<header>
    <a href="#" class="logo">TODO</a>
    <nav class="navbar">
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./about">About</a></li>
            <li><a href="./contact">Contact</a></li>
            <li><a href="#" id="profile"><img src ="account.png" width="20px"><%= name %></a>
                <ul><li><a href="/login" onclick="return logout()">Logout</a></li></ul>
            </li>
        </ul>
    </nav>
</header>